$primary: #42110a;

$body-bg:    #000000;
$body-color: #787572;

$navbar-dark-active-color: #fff;

$nav-link-color: #83807c;
$nav-link-hover-color: #ffffff;

$nav-tabs-border-width: 0;
$nav-tabs-link-active-bg: radial-gradient(circle, #54201a 0%, #000000 100%);

$card-header-bg: radial-gradient(circle, #54201a 0%, #000000 100%);
$card-header-color: #ffffff;
$card-border-color: #3f3c3b;
$card-border-radius: 0;
$card-bg: #000000;

$btn-close-color: #ffffff;

$input-border-radius: 0;
$input-border-color: #3f3c3b;
$input-bg: transparent;
$input-color: #ffffff;

$modal-content-bg: #181410;
$modal-content-border-color: #3f3c3b;
$modal-header-border-color: #3f3c3b;
$modal-header-bg: radial-gradient(circle, #54201a 0%, #000000 100%);